/** GENERALES **/

body {
	font-family: 'Montserrat', sans-serif;

}

header {
  	position: relative;
}

img {
	max-width: 100%;
}

h1 {
	visibility: hidden;
}

h2 {
	font-weight: 800;
}

a {
	color:black;
}
		
a:hover {
	color: white;
}

.fw-bold {
	font-weight: bold;
}


li {
	list-style:none;
}

ul {
	padding: 0;
}

section {
	margin: 5em 0;
}

.hidden {
	visibility: hidden;
}

/* MENU  */

nav div ul li:hover {
	border-radius: 2em;
	color: white;
	background-color: #00a6a6;
}

nav div ul li {
	margin-right: 1em;
	padding: 0 1em;
}





.navbar .navbar-toggler-icon{
    background: url("img/menu.png") no-repeat center center;
}
      
.navbar-toggler:focus {
    outline: none;
}

/* DISEÑO */

.celeste {
	color: #00a6a6;
}

.violeta {
	color: #5e0059;
}


.fondo {
	background-color: #00a6a6;
}

.problema {
	background: url(img/fondo_logo.jpg) repeat-y right center;
}

/* NOSOTROS */
#nosotros {
	height: 40em;
	background: url(img/pattern.png) no-repeat center center ;
}

#nosotros .row p {
	color: black;
}

.card img {
	padding: 2em;
}

/* DESCARGA */
 

/* FOOTER */ 


footer {
	background-color: #345554;
	color: white;
	padding-top: 2em;
   
}

footer p {
	margin: 0;
}

.redes ul li {
    display: inline-block;
    margin: 1em 0;
}

.redes a {
    font-size: 0;
    display: block;
}

#fb {
    background-image: url(img/facebook.png);
    width: 45px;
    height: 45px;
}

#ig {
    background-image: url(img/instagram.png);
    width: 45px;
    height: 45px;
}

#wp {
    background-image: url(img/whatsapp.png);
    width: 45px;
    height: 45px;
}

@media screen and (max-width: 500px) {
    .redes ul li {
        display: block;
        margin: .5em;
    }
}


footer a {
	color: white;
}

footer span {
	font-weight: bold;
}